.App {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: #ff007f;
  color: white;
  padding: 40px;
  border-radius: 10px;
}

h1 {
  font-size: 2.5rem;
}
