/*App.css*/
.App {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: #ff007f;
  color: white;
  padding: 40px;
  border-radius: 10px;
}

.card {
  background-color: white;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.data-container {
  display: flex;
  gap: 20px;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.DataDisplay, .ChartDisplay {
  width: 100%; /* Ensures it spans the full width */
  height: 100%; /* Ensures it spans the full height */
  box-sizing: border-box; /* Include padding and borders in width/height */
  padding: 10px;
  overflow: auto; /* Enables scrolling when content overflows */
}

.DataDisplay {
  max-height: 500px; /* Set a max-height for the data display */
  display: flex; /* Enables flexbox for centering */
  flex-direction: column; /* Stack the elements vertically */
  justify-content: flex-start; /* Align to top */
  align-items: stretch; /* Ensure it stretches to fill the container */
}

.ChartDisplay {
  max-height: 500px; /* Set a max-height for the chart display */
}

h3 {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #ff007f;
}

h1 {
  font-size: 2.5rem;
}

.chart-canvas {
  width: 100%; /* Takes up full width of the parent container */
  height: 100%; /* Takes up full height of the parent container */
}
