/*ChartDisplay.css*/
.ChartDisplay {
  width: 100%;              /* Full width of the parent */
  height: 1000px;
  padding: 10px;
  box-sizing: border-box;
}

.chart-canvas {
  width: 100%;              /* Take up full width of the parent container */
  height: 100%;             /* Take up full height of the parent container */
}
